**/*.log
**/*.md
**/*.php~
**/*.dist
**/*.dist.*
**/.git
.editorconfig
.env.local
.env.*.local
.gitattributes
.gitignore
docker-compose*
compose*
Dockerfile
node_modules/
tests/
vendor/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
